.DS_Store

# Ignore downloaded datasets
embeddings/data/
embeddings/text8.zip
face_generation/data/

.ipynb_checkpoints/


*.pyc
*.p
*.pkl 

*/.floyd*

/.idea/dbnavigator.xml
.idea/
/.idea/deep-learning.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/codeStyles/Project.xml
/.idea/vcs.xml
